# Day 1 - Monday

- Python basics
- Operators
- Conditional Statements
- List
- Strings
- Functions

# Python Basics

In [1]:
print("Hello Everyone")

Hello Everyone

In [2]:
print("Hello\nEveryone")   # \n -> new line character

Hello
Everyone

In [3]:
print("Hello\tEveryone")   # \t -> horizontal tab

Hello	Everyone

In [4]:
print("Hello")
print("Everyone")

Hello
Everyone

# Question

In [ ]:
Name
     8    College
          16        Country

In [ ]:
*
**
***

In [5]:
print("*\n**\n***")

*
**
***

In [ ]:
    *
*       *
    *

# Input from user

In [6]:
a = input()

print(a)

100
100

In [8]:
print(a)

100

In [9]:
a = input("Enter Your Age: ")

print(a)

Enter Your Age: 21
21

In [10]:
a = input("Enter Your Age: ")

print("Age =",a)

Enter Your Age: 23
Age = 23

# Operators

In [ ]:
# arithmetics operators

+, -, *, /, %, //, **

In [11]:
# % -> modulo = return the reminder

print(7 % 2)

1

In [12]:
print(11 % 4)

3

In [13]:
# // -> floor division

print(11 // 2)   # 5.5 -> 5

5

In [14]:
print(7 // 2)   # 3.5 -> 3

3

In [15]:
print(14 // 10)  # 1.4 -> 1

1

In [ ]:
# logical operators

True  -> 1
False -> 0

In [ ]:
# ASCII

# A -> 65
# B -> 66
# Z -> 90

# a -> 97
# z -> 122
# space -> 32

In [ ]:
bits < numbers < characters < instructions < functions < classes < module < package < libraies < frameworks < software

In [ ]:
# assignment operators

=, +=, -=, *=, /=, %=, //=, **=

a = 10

In [16]:
print(2 ** 3)

8

In [17]:
a = 10
print(a)

10

In [18]:
a = 10

a += 5  # a = a + 5

print(a)

15

In [19]:
a = 5

a += 1  # a = a + 1

print(a)

6

In [20]:
a = 14

a //= 3  # a = a // 3 -> 4.6

print(a)

4

# Conditional Statements

In [21]:
print(11 == 11)

True

In [22]:
print(10 == 11)

False

In [23]:
a = 10

if a == 10:
    print("Hi")
    print("Hello")

Hi
Hello

In [24]:
a = 10

if a == 11:
    print("Hi")
    print("Hello")

In [25]:
password = 1234

if password == 1111:
    print("Your Money")
else:
    print("Password is Incorrect")

Password is Incorrect

In [26]:
else:
    print("Hi")

SyntaxError: invalid syntax (4061035225.py, line 1)

In [27]:
a = 2

if a == 1:
    print("One")
elif a == 2:
    print("Two")
elif a == 3:
    print("Three")
else:
    print("Zero")

Two

In [28]:
a = 2

if a == 1:
    print("One")
elif a == 2:
    print("Two")
elif a == 2:
    print("Three")
else:
    print("Zero")

Two

In [ ]:
|-7| => 7
|6| => 6

In [33]:
# type conversion

a = 10.5

print(type(a))

b = int(a)

print(b)

print(type(b))

<class 'float'>
10
<class 'int'>

In [30]:
a = 5

print(type(a))

<class 'int'>

In [34]:
x = input("Enter a number")

print(type(x))

Enter a number12
<class 'str'>

**Write a program to enter a value from user and print its absolute value**

In [36]:
x = int(input("Enter a number"))

print(type(x))

Enter a number12
<class 'int'>

In [40]:
x = int(input("Enter a number"))

if x < 0:
    print(x * (-1))
else:
    print(x)

Enter a number-7
7

# List

Collection of different type of elements

In [ ]:
a = "Himanshu"
b = "Shubh"
c = 30

In [41]:
l = [10,"Himanshu", "India", 15.7]
#    0       1         2      3

print(type(l))

<class 'list'>

In [43]:
print(l[2])

print(type(l[2]))

India
<class 'str'>

In [44]:
print(l[3])

15.7

In [45]:
print(l[5])

IndexError: list index out of range

In [49]:
l = [10,20,30,40]     # list are mutable objects

print(l[0])

l[0] = 100

print(l)

10
[100, 20, 30, 40]

In [50]:
# list functions

l = [10,20,30,40,50]

print(len(l))

5

In [51]:
print(sum(l))

150

In [52]:
l = [10,20,"Hi",100]

print(sum(l))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
l = [10,20,30,40,50]

print(max(l))

50

In [56]:
print(min(l))

10

# Strings

In [57]:
s = "sharing"

print(s)

print(type(s))

sharing
<class 'str'>

In [58]:
s = 'sharing'

print(s)

print(type(s))

sharing
<class 'str'>

In [59]:
a = "it's"

print(a)

it's

In [60]:
a = 'it's'

print(a)

SyntaxError: invalid syntax (1928131839.py, line 1)

In [62]:
a = '"Hello"'

print(a)

"Hello"

In [63]:
s = "Indore"
#    012345

print(s[0])

I

In [64]:
print(s[5])

e

In [65]:
s[0] = 'A'      # string objects are immutable

print(s)

TypeError: 'str' object does not support item assignment

In [66]:
# string functions

s = 'Indore'

print(len(s))

6

In [67]:
print("A" + "B")

AB

In [68]:
print(sum(s))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [69]:
s = 'Indore'

print(max(s))

r

In [70]:
print(min(s))

I

# Functions

In [71]:
def myfunction():                       # definition of function
    print("This is my function")
    print("Nice to meet you all")

In [72]:
myfunction()                            # calling of function

This is my function
Nice to meet you all

In [73]:
def indore():
    print("Hello from Indore")

In [74]:
print("One")
indore()
print("Two")
indore()
print("Three")

One
Hello from Indore
Two
Hello from Indore
Three

In [75]:
# function with an argument

def add(x):
    print(x + 10)

add()

TypeError: add() missing 1 required positional argument: 'x'

In [76]:
# function with an argument

def add(x):          # x = 4
    print(x + 10)

add(4)

14

In [77]:
add(20)

30

In [78]:
# return statement

def greater(x,y):
    if x >= y:
        return x
    else:
        return y

print(greater(10,5))

10

In [79]:
print(greater(3,16))

16

In [80]:
a = greater(11,5)
# a = 11

print(a)

11