# Regression Model

<img src='q.png' />


n observation


<img src='w.png' />


calculate error

<img src='e.png' />

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("MBASSData.csv")

df.head()

,age,sex,gmat_tot,gmat_qpc,gmat_vpc,gmat_tpc,s_avg,f_avg,quarter,work_yrs,frstlang,salary,satis
0,23,2,620,77,87,87,3.4,3.00,1,2,1,0,7
1,24,1,610,90,71,87,3.5,4.00,1,2,1,0,6
2,24,1,670,99,78,95,3.3,3.25,1,2,1,0,6
3,24,1,570,56,81,75,3.3,2.67,1,1,1,0,7
4,24,2,710,93,98,98,3.6,3.75,1,2,1,999,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       274 non-null    int64
 1   sex       274 non-null    int64
 2   gmat_tot  274 non-null    int64
 3   gmat_qpc  274 non-null    int64
 4   gmat_vpc  274 non-null    int64
 5   gmat_tpc  274 non-null    int64
 6   s_avg     274 non-null    float64
 7   f_avg     274 non-null    float64
 8   quarter   274 non-null    int64
 9   work_yrs  274 non-null    int64
 10  frstlang  274 non-null    int64
 11  salary    274 non-null    int64
 12  satis     274 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 28.0 KB

In [5]:
import statsmodels.api as sm

In [ ]:
x = sm.add_constant

sum of squared errors (SSE)

<img src='r.png' />

calculate b1 and b0

<img src='t.png' />

<img src='one.png' />

<img src='two.png' />

<img src='three.png' />